In [1]:
# 관련 모듈 임포트
import pandas as pd
import time
from selenium import webdriver
from bs4 import BeautifulSoup
import numpy as np
import time
from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.common.keys import keys

In [17]:
# 매물번호 파일 불러오기
df = pd.read_csv('gu/df_gu_14.csv')

In [19]:
# 1km이내 있는 시설이기때문에 거리 기본값 1001m

df['bus']=1001
df['subway']=1001
df['child']=1001
df['preschool']=1001
df['school']=1001
df['parking']=1001
df['market']=1001
df['convenience']=1001
df['laundry']=1001
df['bank']=1001
df['hospital']=1001

In [20]:
# 컬럼 추가 됐는지 확인
df

,gu,dong,apt,bus,subway,child,preschool,school,parking,market,convenience,laundry,bank,hospital
0,1165000000,1165010900,107901,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
1,1165000000,1165010900,108832,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
2,1165000000,1165010700,128491,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
3,1165000000,1165010700,106107,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
4,1165000000,1165010700,27222,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,1165000000,1165010800,16917,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
580,1165000000,1165010800,9785,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
581,1165000000,1165010800,3412,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
582,1165000000,1165010800,101356,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
583,1165000000,1165010800,10265,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001

In [76]:
# 5개로 test해봄 
df1 = df[:5]
df1

,gu,dong,apt,bus,subway,child,preschool,school,parking,market,convenience,laundry,bank,hospital
0,1123000000,1123010500,3269,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
1,1123000000,1123010500,125381,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
2,1123000000,1123010500,3273,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
3,1123000000,1123010500,113059,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001
4,1123000000,1123010500,3372,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001,1001

In [21]:
# 2) 셀레니움 웹드라이버 객체 생성
# chromedriver.exe 위치 설정
driver = webdriver.Chrome('chromedriver.exe')

# 3) 웹브라우저 주소로 이동
# 지연시간 지정


none = []
idx=0
for li in df["apt"]:
    url = 'https://m.land.naver.com/complex/info/'+ str(li) + '?ptpNo=1'

    driver.get(url)
    time.sleep(2)

    # '시설'로 이동
    driver.find_element_by_xpath("//*[@id='_facil_trans_tab_cd']").click()
    time.sleep(2)

    # 시설 페이지 파싱
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    df.loc[idx,'title'] = soup.find('strong',class_='detail_complex_title').text
        
    # 주변 1km이내 편의시설 리스트
    com = soup.find_all('li',class_='basic_option_item')
        
#     time.sleep(2)    
    c=0    
    for c in range(len(com)):
            
        if com[c].text.strip().split()[0] == '버스정류장':
            df.loc[idx,'bus'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '지하철역':
            df.loc[idx,'subway'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '어린이집':
            df.loc[idx,'child'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '유치원':
            df.loc[idx,'preschool'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '학교':
            df.loc[idx,'school'] = com[c].text.strip().split()[1]
                
        elif com[c].text.strip().split()[0] == '주차장':
            df.loc[idx,'parking'] = com[c].text.strip().split()[1]
                
        elif com[c].text.strip().split()[0] == '마트':
            df.loc[idx,'market'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '편의점':
            df.loc[idx,'convenience'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '세탁소':
            df.loc[idx,'laundry'] = com[c].text.strip().split()[1]
                
        elif com[c].text.strip().split()[0] == '은행':
            df.loc[idx,'bank'] = com[c].text.strip().split()[1]
            
        elif com[c].text.strip().split()[0] == '병원':
            df.loc[idx,'bank'] = com[c].text.strip().split()[1]
                
        else:
            none.append(li)
            
#         time.sleep(2)
            
    idx += 1
    time.sleep(2)
    print("작동중")

작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중
작동중

In [14]:
# 지정한 컬럼 외에 다른 시설이 있는 매물번호
none

[]

In [79]:
# 따로 저장해서 나중에 확인하고 다시 돌리기 위해 csv파일 만들기 
none_14 = pd.DataFrame(df)
none_14.to_csv('none_14.csv',index=False, encoding='cp949')

[]

In [15]:
# 잘 됐는지 확인
df

,gu,dong,apt,bus,subway,child,preschool,school,parking,market,convenience,laundry,bank,hospital,title
0,1141000000,1141012000,3479,122m,866m,36m,40m,127m,265m,321m,96m,160m,74m,1001,DMC래미안클라시스
1,1141000000,1141012000,112802,143m,1001,128m,328m,138m,196m,128m,135m,221m,148m,1001,DMC센트럴아이파크
2,1141000000,1141012000,26028,103m,820m,37m,215m,362m,344m,97m,147m,65m,136m,1001,DMC센트레빌
3,1141000000,1141012000,13776,79m,822m,104m,163m,175m,289m,54m,55m,225m,211m,1001,DMC쌍용스윗닷홈
4,1141000000,1141012000,118720,141m,943m,111m,220m,216m,317m,134m,124m,173m,135m,1001,DMC에코자이
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,1141000000,1141011100,1163,63m,563m,249m,36m,61m,348m,351m,68m,113m,252m,1001,홍제성원
293,1141000000,1141011100,7961,167m,319m,27m,69m,332m,237m,154m,134m,3m,120m,1001,홍제한양
294,1141000000,1141011100,122423,93m,219m,173m,310m,267m,59m,198m,38m,93m,54m,1001,홍제헤렌
295,1141000000,1141011100,437,163m,258m,92m,257m,338m,229m,100m,158m,51m,191m,1001,홍제현대
296,1141000000,1141011100,101820,175m,662m,111m,490m,292m,171m,118m,53m,163m,512m,1001,힐탑

In [16]:
# df파일 저장
df_14 = pd.DataFrame(df)
df_14.to_csv('df_14.csv',index=False, encoding='cp949')